*{
    font-family: 'Poppins';
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #424242;
}

h1{
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: xx-large;
}

header {
    background: rgb(115,159,212);
    background: radial-gradient(circle, rgba(115,159,212,1) 11%, rgba(187,134,252,1) 95%);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

title{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

nav {
    margin: 0;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-weight: 500;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: #424242;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.paragraph{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    font-size: larger;
    font-weight: 600;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
}

hr {
    border: 1px solid #ddd;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
